subtitles_xml/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="episode">
  <xsd:complexType>
    <xsd:sequence>
        <xsd:element ref="subtitle" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="title" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="subtitle">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="start" type="xsd:string"/>
      <xsd:element name="end" type="xsd:string"/>
      <xsd:element ref="dialogue" maxOccurs="2"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:element>
<xsd:element name="dialogue">
  <xsd:complexType>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="lang" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:element>
</xsd:schema>